Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
		
команды Git
	git add . ---> добавить все файлы
	git commit -M "" ---> добавить commit
	git checkout -b "webpack" ---> добавить ветку и переключиться на неё
	git push -u origin webpack ---> залить на веку webpack
	git checkout main ---> переключение веток
	git pull ---> обновление, синхронизация

	    "sass": "^1.70.0",
    "sass-loader": "^14.0.0",
